@import url('https://fonts.googleapis.com/css?family=Montserrat');

@media only screen and (min-width: 450px) {
  .App {
    background: url('https://upload.wikimedia.org/wikipedia/commons/1/1c/Quotation_Marks.svg') top left no-repeat,
    url('https://upload.wikimedia.org/wikipedia/commons/1/1c/Quotation_Marks.svg') bottom right no-repeat;
  }
}

.App {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background-color: ghostwhite;
}

@media only screen and (min-width: 600px) {
  #quote-box {
    padding: 20px;
    width: 60vw;
    min-height: 40vh;
    min-width: 495px;
    background-color: white;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
  }

  #controls {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
  }

  #quote-content-wrapper {
    width: 60vw;
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 599px) {
  #quote-box {
    padding: 20px;
    width: 60vw;
    background-color: white;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }

}

#text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}

#author {
  font-family: "Courier New", monospace;
  font-size: 1.2em;
}

.img-button {
  margin: 5px;
  padding: 2px;
  max-height: 36px;
  max-width: 36px;
  height: auto;
  width: auto;
  border: 2px solid black;
  border-radius: 8px;
}

#logo {
  position: absolute;
  right: 20px;
  top: 20px;
}


