@import url('https://fonts.googleapis.com/css?family=Montserrat');

.App {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background: url('https://upload.wikimedia.org/wikipedia/commons/1/1c/Quotation_Marks.svg') top left no-repeat,
              url('https://upload.wikimedia.org/wikipedia/commons/1/1c/Quotation_Marks.svg') bottom right no-repeat;
  background-color: ghostwhite;

}

/*@keyframes animatedBackground {*/
  /*from { background-position: 0 0; }*/
  /*to { background-position: 100% 100%}*/
/*}*/

/*#animate-area	{*/
  /*background-image: url("/img/quotation-marks.svg");*/
  /*background-position: 0px;*/
  /*background-color: #eee;*/
  /*animation: animatedBackground 80s linear infinite;*/
/*}*/

#quote-box {
  padding: 20px;
  width: 60vw;
  min-height: 30vh;
  background-color: white;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

#text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}

#author {
  font-family: "Courier New", monospace;
  font-size: 1.2em;
}

.img-button {
  margin: 5px;
  padding: 2px;
  max-height: 36px;
  max-width: 36px;
  height: auto;
  width: auto;
  border: 2px solid black;
  border-radius: 8px;
}

#controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

#quote-content-wrapper {
  width: 60vw;
  display: flex;
  flex-direction: column;
}